        heart {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 500px;
            height: 500px;
            align-content: center;
            text-align: center;
        }

        body {
            overflow: hidden;
            margin: 0;
            background-image: url('../img/0/warning.png');
        }

        .cursed {
            cursor: url('../img/0/nail.ico'), auto;
        }

        div {
            position: absolute;
            height: 100%;
            width: 100%;
            background-image:url('../img/0/warning.png');
            z-index: 1000;
        }

        warning {
            text-align: center;
            align-items: center;
            font-size: 100px;
            font-family: monospace;
            font-variant: small-caps;
            font-weight: bolder;
        }

        button {
            font-size: 50px;
            background: none;
            cursor: pointer;
            
        }
        .pact {
            text-align: center;
            align-items: center;
            font-size: 100px;
            font-family: monospace;
            font-variant: small-caps;
            font-weight: bolder;
            left:300%;
            z-index: 0;
        }

        .dormant {
            opacity: 0%;
        }

        .hesitation {
            position: absolute;
            opacity: 0%;
            height: 300px;
            width: 300px;
            left: 200%;
            bottom: 200%;
        }

        .regret {
            position: absolute;
            height: 300px;
            width: 300px;
            opacity: 100%;
            left: 20%;
            bottom: 20%;
            filter: contrast(200%);
            z-index: 666;
        }

        .form {
            height: 300px;
            width: 200px;
            z-index: 333;
            top: 30%;
            transition: 2.0s;
            filter: contrast(90%);
        }

        .dark {
            position: absolute;
            background-color: rgb(0, 0, 0);
            opacity: 0%;
            width: 100%;
            z-index: 0;
        }

        .consume {
            transition: 5.0s;
            opacity:100%;
            z-index: 0;
        }

        .threat:hover {
            filter:
            contrast(150%)
            drop-shadow(-2px 2px 0px rgb(66, 66, 66))
            drop-shadow(0 0 25px rgb(128, 0, 0));
        }

        .selectDisable {
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .killed {
            -webkit-animation-play-state:paused;
            -moz-animation-play-state:paused;
            -o-animation-play-state:paused; 
            animation-play-state:paused;
        }

        .slaughtered {
            filter: contrast(50%);
        }

        .alive {
            opacity: 100%;
            animation: life 1.128s linear infinite;
        }

        .piercing {
            position: absolute;
            height: 100px;
            width: 100px;
            left: 200%;
            bottom: 200%;
        }

        .pierced {
            position: absolute;
            height: 100px;
            width: 100px;
            left: 48.5%;
            bottom: 32%;
            z-index: 999;
        }

        .before {
            position: absolute;
            height: 100px;
            width: 100px;
            left: 200%;
            bottom: 200%;
        }

        .after {
            position: absolute;
            height: 200px;
            width: 200px;
            left: 30%;
            bottom: 30%;
            z-index: 444;
        }

        @keyframes life {
            0% {
                transform: scale(1.0);
            }
            21.5%, 40% {
                transform: scale(0.95) skew(1deg) rotate(1deg);
            }
            45%, 100% {
                transform: scale(1.0);
            }
        }